/* * {
    background-color: cyan;
} */

body {
    background-color: beige;
}

h1, h2 {
    color: gray;
}
button {
    font-size: 30px;
    background-color: aquamarine;
}

#signup {
    color: aliceblue;
    background-color: cadetblue;
}

span {
    color: aqua;
}

.tag {
    background-color: red;
    color: #f1faee;

}

section span a {
    color: green;
}

footer > a {
    color: blue;
}

input[type="password"] {
    color: greenyellow;
}

.post button:hover {
    background-color: #fff;
}

.post button:active {
    background-color: red;
}

h2::first-letter {
    font-size: 20px;
}

h1::selection {
    background-color: black;
}

.post button:hover {
    color: olive;
}

button:hover {
    color: black;
}