h3 {
    color: teal;
}

h2 {
    background-color: rgb(108, 175, 0);
}
/* button {
    color: magenta;
    background-color: cyan;
} */

p {
    color: olive;
    background: orange;
}

.post a {
    color: gray;
}

button:hover {
    color: olive;
}